{% if database != "none" or worker == "taskiq" %}
from contextlib import asynccontextmanager

{% endif %}
from fastapi import FastAPI

from {{ package_name }}.core.config import settings
{% if database != "none" %}
from {{ package_name }}.db.session import init_db
{% endif %}
from {{ package_name }}.routes.items import router as items_router
{% if worker != "none" %}
from {{ package_name }}.tasks import add
{% endif %}
{% if worker == "taskiq" %}
from {{ package_name }}.worker import broker
{% endif %}


{% if database != "none" or worker == "taskiq" %}
@asynccontextmanager
async def lifespan(app: FastAPI):
    {% if database != "none" %}
    await init_db()
    {% endif %}
    {% if worker == "taskiq" %}
    if not broker.is_worker_process:
        await broker.startup()
    {% endif %}
    yield
    {% if worker == "taskiq" %}
    if not broker.is_worker_process:
        await broker.shutdown()
    {% endif %}


app = FastAPI(title=settings.app_name, debug=settings.debug, lifespan=lifespan)
{% else %}
app = FastAPI(title=settings.app_name, debug=settings.debug)
{% endif %}
app.include_router(items_router)


@app.get("/")
def read_root() -> dict[str, str]:
    return {"message": "Hello, World!"}
{% if worker == "taskiq" %}


@app.post("/tasks/add")
async def enqueue_add(a: int, b: int) -> dict[str, str]:
    task = await add.kiq(a, b)
    return {"task_id": task.task_id}
{% elif worker == "celery" %}


@app.post("/tasks/add")
def enqueue_add(a: int, b: int) -> dict[str, str]:
    task = add.delay(a, b)
    return {"task_id": task.id}
{% endif %}
